html, body {
    margin: 0px;
    background-color: rgb(9, 107, 9);
}

.Titule {
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    font-size: 30px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
    height: 230px;
}


